@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* --- Sistema Semántico Principal (Modo Claro) --- */
    --background: #F4F7FB; 
    --foreground: #001324; 
    
    --card: #FFFFFF; 
    --card-foreground: #001E36;

    --input: #E8EBF2;
    --input-foreground: #6B6A6A;
    
    --border: #D1DBE8; 
    
    --primary: #0D4D79; 
    --primary-foreground: #FFFFFF;

    --secondary: #EBBB22;
    --secondary-foreground: #2D2E2E;

    /* --- Sistema Tipográfico Secundario --- */
    --header: #5085A5;
    --header-foreground: #A9C5DB;

    --muted: #E2E8F0; /* Fondos para etiquetas o botones inactivos */
    --muted-foreground: #64748B; /* Texto secundario para fechas, horas y subtítulos */

    /* --- Sistema de Estados y Banderas Costeras --- */
    --critical: #000000; /* Peligro Extremo / Bandera Negra / Playa Cerrada */
    --critical-background: #cbcbcb;
    --critical-foreground: #FFFFFF;

    --alert: #e61919; /* Peligro / Bandera Roja / Condiciones peligrosas */
    --alert-background: #fee2e2;
    --alert-foreground: #FFFFFF;
    
    --warning: #F59E0B; /* Precaución / Bandera Amarilla / Condiciones moderadas */
    --warning-background: #FEF3C7;
    --warning-foreground: #001324;
    
    --success: #10b929; /* Seguro / Bandera Verde / Condiciones seguras */
    --success-background: #cdfad5;
    --success-foreground: #001324;

    /* --- Paleta Base Escalonada (Ocean Blue) --- */
    --ocean-50: #E1F6FF;
    --ocean-100: #B3E8FF;
    --ocean-200: #80D9FF;
    --ocean-300: #4DC9FF;
    --ocean-400: #21BCFF; 
    --ocean-500: #00A3EB;
    --ocean-600: #0082C2;
    --ocean-700: #006296;
    --ocean-800: #00436B;
    --ocean-900: #002540;
    --ocean-950: #001324;
  }

  @media (prefers-color-scheme: dark) {
  :root {
    /* --- Sistema Semántico Principal (Modo Oscuro) --- */
    /* De momento estará comentado porque no se usa*/
    /* --background: #000E21; 
    --foreground: #E1F6FF; 
    
    --card: #011A3A; 
    --card-foreground: #B3E8FF;
    
    --border: #002540; 
    
    --primary: #21BCFF; 
    --primary-foreground: #001324;  */

    /* --- Sistema Tipográfico Secundario --- */
    /* --muted: #001E36; 
    --muted-foreground: #94A3B8;  */

    /* --- Sistema de Estados y Banderas Costeras --- */
    /* --critical: #000000;
    --critical-foreground: #FFFFFF;

    --alert: #fc3718; 
    --alert-foreground: #001324;
    
    --warning: #FCD34D;
    --warning-foreground: #001324;
    
    --success: #34d35e;
    --success-foreground: #001324; */
  }
}
}